
<h1>Eliminar productos</h1>
<table class="table table-responsive">
  <thead class="thead-dark">
    <tr>
      <th scope="col">inventario</th>
      <th scope="col">Producto</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mocachino</td>
      <td>Café con leche mezclado con un poco de chocolate </td>
      <td>$4,99</td>
      <td> <button type="button" class="btn btn-danger">Eliminar</button> </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Tigrillo</td>
      <td>Patacones con estofado de carne, papas fritas y huevo frito</td>
      <td>$6,99</td>
      <td> <button type="button" class="btn btn-danger">Eliminar</button> </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Café Latte</td>
      <td>Café con leche</td>
      <td>$3,99</td>
      <td> <button type="button" class="btn btn-danger">Eliminar</button> </td>
    </tr>
  </tbody>
</table>